@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: 'Patrick Hand';
  src: url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap')
}
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
}


.App {
  text-align: center;
  font-family: 'Roboto';
}

.Nav{
  background-color:'#ffffff'; 
  
}